bak
tmp
.cache
.tmp
*.annot
*.exe
*.bak
*.cm*
*.obj
*.o
*.lib
*.a
ocaml-src
.oebuild
annot_lexer.ml
annot_parser.ml
annot_parser.mli
err_lexer.ml
err_parser.ml
err_parser.mli
Thumbs.db
*.xcf
splash*.*
*.xcf
*.local.xml
*.project.local
src/oebuild/oebuild
src/oebuild/oebuild.opt
src/stdlib_pp/stdlib_pp
src/stdlib_pp/stdlib_pp.opt
src/stdlib_pp/stdlib_pp.ml
src/ocamleditor
src/ocamleditor.opt
src/gtkThread2.ml
src/oebuild_script.ml
_oasis
setup.data
setup.log
setup.ml
src/resource.res
src/icons
src/build_id.ml
*.so

src/ocamleditorw
.ocamlinit
.merlin
src/.merlin
src/merlin_?.ml*
src/settings_?.ml*

